:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
}

a {
  font-weight: 500;

  text-decoration: inherit;

}
a:hover {
  color: #29077a;
}

h1 {
  display: inline-block;
  padding: 0rem 0;

  border-bottom: 2px solid currentColor;
  font-size: 2.4rem;

  letter-spacing: 2px;
  font-weight: 500;

}

input[type="text"] {
  width: 40%;
  padding: 8px 8px;
  margin: 4px 0;
  box-sizing: border-box;
}
input[type="submit"] {
  padding: 8px 8px;
}

form{
  font-size: 1.4rem;

  letter-spacing: 1px;
  font-weight: 500;
  padding-right: 8px;

}

.logo-big {
  margin-top: 1em;
  margin-bottom: 3em;
}

h2 + img{
  border: 2px solid currentColor;

}

#item{
  border: 2px solid rgb(51, 21, 158);
  margin-top: 3em;
  padding:1em;
  background-color: rgb(255, 253, 248);
}



